<h1><%= @recipe.name %><h/1>
<p>
    Ingredient: <%= @recipe.ingredients %>
    Cook Time: <%= @recipe.cook_time %>
</p><br>

<p>
    <form method="POST" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="delete" />
    </form> </p>